### Question 1:

In [8]:
import pandas as pd
print(pd.__version__)

2.1.0

In [44]:
dataset=pd.read_csv("C:/Users/mamun/OneDrive/Desktop/Data_science_project/ML Zoomcamp/raw.githubusercontent.com_alexeygrigorev_datasets_master_housing.csv")

In [45]:
dataset.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

### Question 2:

#### How many columns are in the dataset?

In [46]:
# number of columns
num_columns = dataset.shape[1]

print("Number of columns:", num_columns)

Number of columns: 10

### Question 3:

#### Which columns in the dataset have missing values?

In [47]:
# Check which columns have missing values
columns_with_missing_values = dataset.columns[dataset.isna().any()].tolist()

print("Columns with missing values:", columns_with_missing_values)

Columns with missing values: ['total_bedrooms']

### Question 4
#### How many unique values does the ocean_proximity column have?

In [61]:
# unique values under the 'Category' column
unique_values_count = dataset['ocean_proximity'].nunique()
print("Number of unique values in 'ocean_proximity' column:", unique_values_count)

Number of unique values in 'ocean_proximity' column: 5

### Question 5
#### What's the average value of the median_house_value for the houses located near the bay?

In [62]:
# Filter the DataFrame to select houses near the bay
near_bay_houses  = dataset[dataset['ocean_proximity'] == 'NEAR BAY']
# Calculate the median house value for houses near the bay
median_house_value_near_bay = near_bay_houses['median_house_value'].mean()

print("Median house value for houses near the bay:", median_house_value_near_bay)

Median house value for houses near the bay: 259212.31179039303

### Question 6
##### Calculate the average of total_bedrooms column in the dataset.
##### Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
##### Now, calculate the average of total_bedrooms again.
##### Has it changed?

In [64]:
# Calculate the original average of 'total_bedrooms'
original_average = dataset['total_bedrooms'].mean()
print(f"Original Average of 'total_bedrooms': {original_average:.3f}")

# Fill missing values with the mean value
mean_value = dataset['total_bedrooms'].mean()
dataset['total_bedrooms'].fillna(mean_value, inplace=True)

filled_dataset = dataset.copy()  # Create a copy of the original DataFrame
filled_dataset['total_bedrooms'].fillna(mean_value, inplace=True)  # Fill missing values in the new DataFrame


# Calculate the average of 'total_bedrooms' after filling missing values
new_average = filled_dataset['total_bedrooms'].mean()
print(f"Average of 'total_bedrooms' after filling missing values: {new_average:.3f}")

# Compare the averages
if original_average == new_average:
    print("The average hasn't changed after filling missing values.")
else:
    print("The average has changed after filling missing values.")

Original Average of 'total_bedrooms': 537.871
Average of 'total_bedrooms' after filling missing values: 537.871
The average hasn't changed after filling missing values.

### Question 7
#### Select all the options located on islands.
#### Select only columns housing_median_age, total_rooms, total_bedrooms.
#### Get the underlying NumPy array. Let's call it X.
#### Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
#### Compute the inverse of XTX.
#### Create an array y with values [950, 1300, 800, 1000, 1300].
#### Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
#### What's the value of the last element of w?

In [60]:
import numpy as np

# Step 1: Select options located on islands
island_options = dataset[dataset['ocean_proximity'] == 'ISLAND']

# Step 2: Select specific columns
selected_columns = island_options[['housing_median_age', 'total_rooms', 'total_bedrooms']]

# Step 3: Get the underlying NumPy array (X)
X = selected_columns.values

# Step 4: Compute matrix-matrix multiplication X.T * X
XTX = np.dot(X.T, X)

# Step 5: Compute the inverse of XTX
XTX_inverse = np.linalg.inv(XTX)

# Step 6: Create an array y
y = np.array([950, 1300, 800, 1000, 1300])

# Step 7: Calculate w
w = np.dot(np.dot(XTX_inverse, X.T), y)

# Step 8: Get the last element of w
last_element_of_w = w[-1]

print("Value of the last element of w:", last_element_of_w)

Value of the last element of w: 5.699229455065586